{%- liquid

  case posts_per_row
    when 2
      assign span = 'span-6'
    when 3
      assign span = 'span-4'
    else
      assign span = 'span-12 grid__wrapper grid__wrapper-nest'
  endcase

-%}
<li class="article-index {{ span }} sm-span-12 auto{% if settings.animation != 'none' %} animate {{ settings.animation }} delay--{{ index }}{% endif %}">
  <div class="article-image {% if posts_per_row == 1 or template contains 'blog' %}span-5{% else %}span-12{% endif %} sm-span-12 auto">
    {% if article.image %}
      <a href="{{ article.url }}">
        {% render 'basic-responsive-image',
          type: article.image,
          width: 800,
          loading: loading,
          fetchpriority: fetchpriority
        %}
      </a>
    {% else %}
      {% capture placeholderCycle %}{% cycle 'collection-1', 'collection-2', 'collection-3' %}{% endcapture %}
      <div class="onboard">
        {{ placeholderCycle | placeholder_svg_tag }}
      </div>
    {% endif %}
  </div>

  <div class="rte excerpt {% if posts_per_row == 1 or template contains 'blog' %}span-7{% else %}span-12{% endif %} sm-span-12 auto">
    {% if section.settings.show_above %}
      {% if section.settings.show_date or section.settings.show_author %}
        <p class="posted">{% if section.settings.show_date %}{{ article.published_at | date: format: 'date'}}{% endif %}{% if section.settings.show_date and section.settings.show_author %} – {% endif %}{% if section.settings.show_author %}{{ article.author }}{% endif %}</p>
      {% endif %}
    {% endif %}
    <h3 class="post-title">
      <a href="{{ article.url }}">{{ article.title }}</a>
    </h3>
    {% unless section.settings.show_above %}
      {% if section.settings.show_date or section.settings.show_author %}
        <p class="posted">{% if section.settings.show_date %}{{ article.published_at | date: format: 'date'}}{% endif %}{% if section.settings.show_date and section.settings.show_author %} – {% endif %}{% if section.settings.show_author %}{{ article.author }}{% endif %}</p>
      {% endif %}
    {% endunless %}
    <div class="article-headline">
      <p class="rte">
        {{ article.excerpt_or_content | strip_html | truncatewords: 60 }}
      </p>
      <a href="{{ article.url }}">
        <span class="vib-center">{{ 'blogs.article.read_more' | t }}</span>
        {% render 'snip-icons',
           wrapper: '.article-headline',
           type: 'vantage-theme',
           icon: 'arrow-right',
           classes: 'right-arrow article-headline--icon',
           size: '7px',
           fill: 'var(--text-color)',
           hover: 'var(--text-color)' %}
      </a>
    </div>
  </div>
</li>
