{% comment %}
snippets/onboard-article.liquid
{% endcomment %}

{%- liquid

  assign show_divider = false
  if section.settings.show_date and section.settings.show_author
    assign show_divider = true
  endif

  case posts_per_row
    when 2
      assign span = 'span-6'
    when 3
      assign span = 'span-4'
    else
      assign span = 'span-12 grid__wrapper grid__wrapper-nest'
  endcase

-%}

{% for i in (1..post_limit) %}
  <li class="article-index {{ span }} sm-span-12 auto{% if settings.animation != 'none' %} animate {{ settings.animation }} delay--{{ forloop.index }}{% endif %}">
    <div class="onboard article-image {% if posts_per_row == 1 %}span-5{% else %}span-12{% endif %} sm-span-12 auto">
        <a href="{{ routes.root_url }}">
          {{ 'collection-1' | placeholder_svg_tag }}
        </a>
    </div>

    {% capture byline %}
      <p class="posted">{% if section.settings.show_date %}12/15/20{% endif %}{% if show_divider %}
      &ndash; {% endif %}{% if section.settings.show_author %}{{ 'blogs.article.onboarding.author' | t }}{% endif %}</p>
    {% endcapture %}

    <div class="rte excerpt {% if posts_per_row == 1 %}span-7{% else %}dspan-12{% endif %} sm-span-12 auto">
      {% if section.settings.show_above %}
        {% if section.settings.show_date or section.settings.show_author %}
          {{ byline }}
        {% endif %}
      {% endif %}
      <h3 class="post-title">
        <a href="{{ routes.root_url }}">{{ 'blogs.article.onboarding.title' | t }}</a>
      </h3>
      {% unless section.settings.show_above %}
        {% if section.settings.show_date or section.settings.show_author %}
          {{ byline }}
        {% endif %}
      {% endunless %}
      <div class="article-headline">
        <p class="rte">
          {{ 'blogs.article.onboarding.body' | t }}
        </p>
        <a href="{{ routes.root_url }}">
          <span class="vib-center">{{ 'blogs.article.read_more' | t }}</span>
          {% render 'snip-icons',
             wrapper: '.article-headline',
             type: 'vantage-theme',
             icon: 'arrow-right',
             classes: 'right-arrow article-headline--icon',
             size: '7px',
             fill: 'var(--text-color)',
             hover: 'var(--text-color)' %}
        </a>
      </div>
    </div>
  </li>
{% endfor %}
