{% comment %}Used for home page sections only when featured products is chosen but no content has been selected{% endcomment %}
  {% for i in (1..prod_limit) %}
    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
    {%- assign placeholder = 'product-' | append: current -%}
    <div class="featured__collection-product product-index{% if template != 'index' %} {{ grid_item_width }} mobile-half{% endif %}{% if settings.animation != 'none' and is_carousel == false %} animate {{ settings.animation }} delay--{{ forloop.index }}{% endif %}">
      <div class="prod-image product-index-inner">
        <div class="onboard">
          <div class="reveal">
            <div class="box-ratio" style="padding-bottom: 100%;">
              {{ placeholder | placeholder_svg_tag }}
            </div>
          </div>
        </div>
      </div>
      <div class="product-info">
        <div class="product-info-inner">
          <span class="product-title">{{ 'general.onboarding.product.title' | t: count: forloop.index }}</span>
          <div class="price">
            {{ 'general.onboarding.product.price' | t }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
