{% comment %}
  Renders the collection topbar.

  Accepts:
  - show_accordion_links: {Boolean} show accordion links.
  - show_sidebar: {Boolean} show sidebar.
  - collection: {Object} the collection object.
  - filter_count: {Integer} the filter count.

  Usage:
  {% render 'collection-topbar',
    show_accordion_links: show_accordion_links,
    show_sidebar: show_sidebar,
    collection: collection,
    filter_count: filter_count
  %}
{% endcomment %}
{% liquid
  assign terms = search.terms | escape
  assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last'
%}

<div id="full-width-filter" class="grid__wrapper contained collection-topbar">
  <ul class="collection__topbar-controls span-6 sm-span-6 auto" data-collection-accordion-links>
    <li
      class="collection__topbar-controls--filter {% if filter_appearance == 'sidebar' %}js-sidebar-toggle{% else %}js-collection-slideout-link{% endif %}"
      data-accordion-context="{{ block.id }}"
    >
      <button
        class="slideout__trigger-collection-sidebar button-as-link{% if filter_appearance == 'slideout' %} js-slideout-open{% endif %}"
        {% if filter_appearance == 'slideout' %}
          data-wau-slideout-target="collection-sidebar"
          data-slideout-direction="right"
          popovertarget="slideout-collection-sidebar"
          popovertargetaction="show"
        {% endif %}
        aria-label="Open sidebar"
        tabindex="0"
        type="button"
        name="button"
      >
        {% render 'snip-icons',
          wrapper: '.collection__topbar-filter',
          type: 'apollo',
          icon: 'filter',
          classes: 'collection__topbar-controls--filter',
          size: '10px',
          fill: 'var(--text-color)',
          hover: 'var(--text-color)'
        %}
        {{ 'collections.filters.filter_button' | t }}
        {% if filter_appearance == 'sidebar' %}
          {% render 'snip-icons',
            wrapper: '.collection__topbar-caret',
            type: 'apollo',
            icon: 'down-carrot',
            classes: 'collection__topbar-controls--caret',
            size: '6px',
            fill: 'var(--text-color)',
            hover: 'var(--text-color)'
          %}
        {% endif %}
      </button>
    </li>
  </ul>

  {%- if section.settings.show_layout_buttons -%}
    <ul
      class="collection__topbar-controls grid-layout span-2 push-10 sm-span-6 auto a-right device-hide"
      data-collection-grid-layout
    >
      <li class="collection__topbar-controls--grid grid-icon active js-collection-layout" data-grid-type="grid">
        <button class="button-as-link" type="button" name="button">
          {% render 'snip-icons',
            wrapper: '.collection__topbar-controls--grid',
            type: 'vantage-theme',
            icon: 'grid',
            classes: 'collection__topbar-controls--grid--icon vib-center',
            size: '10px',
            fill: 'var(--text-color)',
            hover: 'var(--text-color)'
          %}
        </button>
      </li>
      <li class="collection__topbar-controls--list list-icon js-collection-layout" data-grid-type="list">
        <button class="button-as-link" type="button" name="button">
          {% render 'snip-icons',
            wrapper: '.collection__topbar-controls--list',
            type: 'vantage-theme',
            icon: 'list',
            classes: 'collection__topbar-controls--list--icon vib-center',
            size: '10px',
            fill: 'var(--text-color)',
            hover: 'var(--text-color)'
          %}
        </button>
      </li>
    </ul>
  {%- endif -%}

  {% if filter_count > 0 %}
    <div class="filtering__results span-12 auto js-filters-reset" data-collection-filter-results>
      <ul class="current_tags">
        {%- for filter in search.filters -%}
          {%- for value in filter.active_values -%}
            <li class="current_filters--filter current_tag">
              <a class="js-current-filter" href="{{ value.url_to_remove }}">
                {{ value.label | escape }}
              </a>
            </li>
          {%- endfor -%}
          {% if filter.type == 'price_range' %}
            {%- if filter.min_value.value != null or filter.max_value.value != null -%}
              <li class="current_filters--filter current_tag">
                <a class="js-current-filter" href="{{ filter.url_to_remove }}">
                  {%- if filter.min_value.value -%}
                    {{ filter.min_value.value | money }}
                  {%- else -%}
                    {{ 0 | money }}
                  {%- endif -%}
                  -
                  {%- if filter.max_value.value -%}
                    {{ filter.max_value.value | money }}
                  {%- else -%}
                    {{ filter.range_max | money }}
                  {%- endif -%}
                </a>
              </li>
            {%- endif -%}
          {% endif %}
        {%- endfor -%}
        <li>
          <a class="current_filters--clear js-current-filter clear-tags" href="{{ results_url }}">
            {{- 'collections.filters.clear_all' | t -}}
          </a>
        </li>
      </ul>
    </div>
  {% endif %}
</div>
<!-- /#full-width-filter -->
