{% comment %}
    Renders a size chart using WAU modals.
    Accompanies product variants snippet and swatch snippet.

    Accepts:
    - label: {String} Button label
    - page: {Object} Page object from input setting
    - section_id: {String} Unique section ID so that popup are different
    - type: {String} Size chart type.

    Usage:
    {% render 'size-chart', label: size_chart_label, page: size_chart_page, section_id: section_id, type: size_chart_type %}
{% endcomment %}
<div class="size-chart">

  {% render 'snip-icons',
   wrapper: '.size-chart_icon',
   type: 'vantage-theme',
   icon: 'ruler',
   classes: 'vib-center',
   size: '20px',
   fill: 'var(--text-color)',
   hover: 'var(--text-color)' %}

  {% capture size_chart_id %}product-size-chart--{{ section_id }}{% endcapture %}

  <button
    class="button-as-link js-modal-open"
    type="button"
    name="button"
    aria-label="Open popup"
    data-wau-modal-target="product-size-chart--{{ section_id }}"
    popovertarget="{{ size_chart_id }}"
    popovertargetaction="show"
  >
    {{ label }}
  </button>

    {% capture size_chart_content %}
    <div class="rte">
      {{ page.content }}
    </div><!-- /.rte -->
    {% endcapture %}

    <!-- Determine popover type -->
    {% case type %}
      {% when 'modal' %}
        {% render 'modal', id: size_chart_id, content: size_chart_content %}
      {% when 'drawer' %}
        {% render 'slideout', id: size_chart_id, content: size_chart_content %}
    {% endcase %}
</div><!-- /.size-chart -->
