<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Establish early connection to external domains -->
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
    <link rel="preconnect" href="//ajax.googleapis.com" crossorigin>

    {%- assign main_font = settings.main_font -%}
    {%- assign heading_font = settings.heading_font -%}
    {%- assign nav_font = settings.nav_font -%}
    {%- assign main_font_bold = main_font | font_modify: 'weight', 'bolder' -%}
    {%- assign main_font_italic = main_font | font_modify: 'style', 'italic' -%}
    {%- assign main_font_bold_italic = main_font_bold | font_modify: 'style', 'italic' -%}

    <!-- Preload onDomain stylesheets and script libraries -->
    <link rel="preload" href="{{ 'stylesheet.css' | asset_url }}" as="style">
    <link rel="preload" as="font" href="{{ main_font | font_url }}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ nav_font | font_url }}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ heading_font | font_url }}" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ 'eventemitter3.min.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">

    {% if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png">
    {%- endif %}
    <link rel="canonical" href="{{ canonical_url }}">

    <title>
      {{ page_title }}
      {% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}
      {% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    {% if page_description %}<meta name="description" content="{{ page_description | escape }}">{% endif %}

    {% render 'social-media-tags' %}
    {% render 'structured-data' %}
    {% render 'css-variables' %}

    <link rel="stylesheet" href="{{ 'stylesheet.css' | asset_url }}" type="text/css">

    <style>
      {{ main_font | font_face: font_display: 'swap' }}
      {{ nav_font | font_face: font_display: 'swap' }}
      {{ heading_font | font_face: font_display: 'swap' }}
      {{ main_font_bold | font_face: font_display: 'swap' }}
      {{ main_font_italic | font_face: font_display: 'swap' }}
      {{ main_font_bold_italic | font_face: font_display: 'swap' }}
    </style>

    {{ content_for_header }}
  </head>

  <body class="password js-slideout-toggle-wrapper">
    <a class="skip-link button og-visually-hidden" href="#main-content">{{ 'accessibility.skip_to_text' | t }}</a>

    <main id="main-content" class="password-page__wrapper lazyload lazyfade" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% capture password_slideout_content %}
      <div class="password-page__login">
        {% form 'storefront_password' %}
          {%- if form.errors -%}
            <div class="note-error">
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}
          <label for="password">{{ 'general.password_page.enter_store' | t }}</label>
          <input type="password" name="password" placeholder="{{ 'general.password_page.password' | t }}" id="password">
          <input type="submit" value="{{ 'general.password_page.enter' | t }}">
        {% endform %}
      </div>
    {% endcapture %}
    {% render 'slideout', id: 'password-slideout', content: password_slideout_content %}

    <script src="{{ 'eventemitter3.min.js' | asset_url }}"></script>
    <script src="{{ 'theme.js' | asset_url }}"></script>

    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>

    {%- if request.page_type contains 'customers/' -%}
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    <script>
      window.lazySizesConfig = window.lazySizesConfig || {};
      window.lazySizesConfig.minSize = 360;
    </script>

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
  </body>
</html>
