{%- liquid

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

-%}

{% assign unique_id = section.id | slice: -7, 7 %}

{% capture section_classes %}
  section-accordion section-accordion--{{ section.id }} {% if settings.animation != 'none' %} animate {{ settings.animation }} {% endif %}
{% endcapture %}

{% capture accordion_classes %}
  js-accordion c-accordion c-accordion--vantage c-accordion--default c-accordion--{{ template | handleize }} c-accordion--{{ unique_id }} row
{% endcapture %}

<div class="global__section {{ section_padding }}">
  <section
  id="section-accordion--{{ section.id }}"
  class="{{- section_classes | strip -}}"
  data-section-type="accordion"
  data-section-loaded="false"
  data-section-id="{{ section.id }}">

    <div class="row grid__wrapper">
      {% if section.settings.heading != blank %}
          <h2 class="section-title span-12 auto">{{ section.settings.heading | escape }}</h2>
      {% endif %}

      {% if section.blocks.size > 0 %}
      <div
        class="{{- accordion_classes | strip -}}{% if section.settings.reduced_width %} span-8 push-2{% else %} span-12{% endif %} md-span-12 sm-span-12 auto"
        id="c-accordion--{{ unique_id }}"
        {% if section.settings.allow_multiple %}
        data-accordion-allow-multiple
        {% endif %}>

          {% for block in section.blocks %}

            {%- liquid

              assign accordion_content_class = 'c-accordion__panel--'
              assign accordion_content_id = accordion_content_class | append: unique_id | append: '-' | append: forloop.index

              assign heading = block.settings.heading
              assign content = block.settings.content

            -%}

            {% if heading != blank %}
               <button
                 class="js-accordion-header c-accordion__header"
                 aria-expanded="false"
                 aria-controls="{{ accordion_content_id }}"
                 data-toggle="accordion"
                 {{ block.shopify_attributes }}>
                 {{ heading }}
                   <div class="c-accordion__header-icons">
                     {% render 'snip-icons',
                        wrapper: '.c-accordion__header-icons',
                        type: 'apollo',
                        icon: 'minus',
                        classes: 'open c-accordion__header-icons--icon',
                        size: '14px',
                        fill: 'var(--text-color)',
                        hover: 'var(--text-color)' %}
                    {% render 'snip-icons',
                       wrapper: '.c-accordion__header-icons',
                       type: 'apollo',
                       icon: 'plus',
                       classes: 'closed c-accordion__header-icons--icon',
                       size: '14px',
                       fill: 'var(--text-color)',
                       hover: 'var(--text-color)' %}
                   </div>
               </button>
                <div
                 class="c-accordion__panel {{ accordion_content_id }} rte"
                 id="{{ accordion_content_id }}"
                 data-parent="#c-accordion--{{ unique_id }}">
                 <div class="c-accordion__inner">
                  {{ content }}
                 </div>
                </div>
            {% endif %}

          {% endfor %}
       </div><!-- /.c-accordion -->
       {% else %}
        {% render 'no-blocks' %}
      {% endif %}
    </div>
  </section>
</div>
{% schema %}
{
  "name": "Accordion",
  "settings":
  [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "FAQs"
    },
    {
      "type": "checkbox",
      "id": "allow_multiple",
      "label": "Allow multiple accordions open at one time",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "reduced_width",
      "label": "Reduce section width"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "blocks":
  [
    {
      "type": "panel",
      "name": "Panel",
      "settings":
      [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        }
      ]
    }
  ],
  "presets":
  [
    {
      "name": "Accordion",
      "blocks":
      [
        {
          "type": "panel"
        },
        {
          "type": "panel"
        },
        {
          "type": "panel"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups":
    [
      "header",
      "footer",
      "aside"
    ]
  }
}
{% endschema %}
