{% liquid
    assign section_padding = ''
    if section.settings.section_padding == 'top'
      assign section_padding = 'pb0'
    elsif section.settings.section_padding == 'bottom'
      assign section_padding = 'mt0'
    elsif section.settings.section_padding == 'none'
      assign section_padding = 'mt0 pb0'
    endif

    assign full_width = false
    if section.settings.full_width
      assign full_width = true
    endif

    assign sm_render = '100vw'
    assign md_render = '100vw'
    assign lg_render = '100vw'

    assign fixed_height = false
    if section.settings.section_height == 'fixed_height'
      assign fixed_height = true
    endif

    assign desktop_height = section.settings.desktop_height | append: 'px'
    assign mobile_height = section.settings.mobile_height | append: 'px'

    if section.index == 1
      assign loading = 'eager'
      assign fetch_priority = 'high'
    endif

%}

{% style %}
  {% if fixed_height %}
    #shopify-section-{{ section.id }} {
      --desktop-section-height: {{ desktop_height }};
      --mobile-section-height: {{ mobile_height }};
    }
  {% endif %}
  {% for block in section.blocks %}
    #before--after--{{ section.id }}-image-{{ forloop.index0 }} {
      --text-color: {{ block.settings.text_color }};
      --button-text: {{ block.settings.button_color }};
      --button-color: {{ block.settings.button_background }};
    }
  {% endfor %}
{% endstyle %}

<section
    class="before-after_section section-{{ section.id }} global__section {{ section_padding }} padding-top global__section-{{ section.id }}{% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}"
    data-section-id="{{ section.id }}"
    data-section-type="before-after"
  >

  {% if full_width %}
    <div class="gridlock-fluid">
    <div class="row">
  {% endif %}

    <div class="grid__wrapper row{% if full_width %} edge{% endif %}">
        <div class="before--after span-12 auto{% if fixed_height %} fixed-height{% endif %}">
          {% for block in section.blocks %}

            {% liquid

              assign has_image = false
              assign has_image_link = false
              assign has_button = false
              assign has_heading = false
              assign has_subheading = false
              assign has_button_text = false
              assign has_caption = false

              if block.settings.image != blank
                assign has_image = true
              endif
              if block.settings.button_text != blank and block.settings.link != blank
                assign has_button = true
              endif
              if block.settings.heading != blank
                assign has_heading = true
              endif
              if block.settings.subheading != blank
                assign has_subheading = true
              endif
              if has_heading or has_subheading or has_button
                assign has_caption = true
              endif

            %}

            {% if forloop.first %}
              <div id="before--after--{{ section.id }}-image-{{ forloop.index0 }}" class="before-image"{{ block.shopify_attributes }}>
                {% if has_image %}
                  {% render 'basic-responsive-image',
                      type:  block.settings.image,
                      width: 3000,
                      loading: 'lazy',
                      sm_render: sm_render,
                      md_render: md_render,
                      lg_render: lg_render,
                      loading: loading,
                      fetchpriority: fetch_priority
                    %}
                  {% else %}
                    <div class="onboard before--image_placeholder">
                      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                  {% endif %}
                  {% if has_caption %}
                    <div class="before--after_caption caption-{{ block.settings.caption_position }}">
                      {% if has_heading %}
                      <h3>{{ block.settings.heading | escape }}</h3>
                      {% endif %}
                      {% if has_subheading %}
                      <div class="rte">
                        {{ block.settings.subheading }}
                      </div>
                      {% endif %}
                      {% if has_button %}
                      <div class="before-after__btn-wrapper">
                        <a href="{{ block.settings.link }}">{{ block.settings.button_text | escape }}</a>
                      </div>
                      {% endif %}
                    </div>
                  {% endif %}
              </div>
            {% else %}
              <div id="before--after--{{ section.id }}-image-{{ forloop.index0 }}" class="after-image"{{ block.shopify_attributes }}>
                {% if has_image %}
                  {% render 'basic-responsive-image',
                      type:  block.settings.image,
                      width: 3000,
                      loading: 'lazy',
                      sm_render: sm_render,
                      md_render: md_render,
                      lg_render: lg_render,
                      loading: loading,
                      fetchpriority: fetch_priority
                    %}
                  {% else %}
                    <div class="onboard after--image_placeholder">
                      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                  {% endif %}
                  {% if has_caption %}
                    <div class="before--after_caption caption-{{ block.settings.caption_position }}">
                      {% if has_heading %}
                      <h3>{{ block.settings.heading | escape }}</h3>
                      {% endif %}
                      {% if has_subheading %}
                      <div class="rte">
                        {{ block.settings.subheading }}
                      </div>
                      {% endif %}
                      {% if has_button %}
                      <div class="before-after__btn-wrapper">
                        <a href="{{ block.settings.link }}">{{ block.settings.button_text | escape }}</a>
                      </div>
                      {% endif %}
                    </div>
                  {% endif %}
              </div>
            {% endif %}
          {% endfor %}
            <div class="before--after_slider">
              <button class="before--after_button">
                  {% render 'snip-icons',
                      wrapper: '.before--after_button',
                      type: 'vantage-theme',
                      icon: 'menu-bars',
                      classes: 'before--after_button-icon',
                      size: '20px',
                      fill: 'var(--text-color)',
                      hover: 'var(--text-color)' %}
                  </button>
            </div>
        </div>
    </div>

  {% if full_width %}
    <div class="</div>">
    <div class="</div>">
  {% endif %}

</section>

{% schema %}
{
  "name": "Before and after",
  "max_blocks": 2,
  "settings":
  [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default":true
    },
    {
      "type": "radio",
      "id": "section_height",
      "label": "Section height",
      "default":"fixed_height",
      "options": [
        {
          "value": "natural",
          "label": "Natural"
        },
        {
          "value": "fixed_height",
          "label": "Fixed height"
        }
      ]
    },
    {
      "type": "range",
      "id": "desktop_height",
      "min": 200,
      "max": 1000,
      "step": 100,
      "unit": "px",
      "label": "Desktop fixed height",
      "default": 800
    },
    {
      "type": "range",
      "id": "mobile_height",
      "min": 200,
      "max": 1000,
      "step": 100,
      "unit": "px",
      "label": "Mobile fixed height",
      "default": 600
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "blocks":
  [
    {
      "type": "image",
      "name": "Image",
      "settings":
      [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "2880px x 1620px recommended"
        },
        {
          "type": "header",
          "content": "Caption"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Subheading",
          "default": "<p>Subheading</p>"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Button"
        },
        {
          "type": "select",
          "id": "caption_position",
          "label": "Caption position",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "middle",
              "label": "Middle"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "bottom"
        },
        {
          "type": "header",
          "content": "Caption style"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Heading and subheading",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_color",
          "label": "Button text",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "Button background",
          "default": "#000000"
        }
      ]
    }
  ],
  "presets":
  [
    {
      "name": "Before and after",
      "blocks":
      [
        {
          "type": "image",
          "settings": {
            "image": "",
            "heading": "Before",
            "subheading": "",
            "link": "",
            "button_text": "",
            "caption_position": "bottom",
            "text_color": "#ffffff",
            "button_color": "#ffffff",
            "button_background": "#000000"
          }
        },
        {
          "type": "image",
          "settings": {
            "image": "",
            "heading": "After",
            "subheading": "",
            "link": "",
            "button_text": "",
            "caption_position": "bottom",
            "text_color": "#ffffff",
            "button_color": "#ffffff",
            "button_background": "#000000"
          }
        }
      ]
    }
  ],
  "templates":
  [
    "404",
    "article",
    "blog",
    "cart",
    "collection",
    "list-collections",
    "index",
    "page",
    "product",
    "search",
    "metaobject"
  ]
}
{% endschema %}
