<section class="breadcrumbs breadcrumbs--{{ section.id }} row"
id="breadcrumbs--{{ section.id }}">
  <div class="desktop-12">
    <a href="{{ routes.root_url }}" class="homepage-link" title="{{ 'general.breadcrumbs.home' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
    {% if template contains "product" %}
      {% if collection %}
        <span class="separator">&#124;</span>
        {% if collection.handle %}
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          {{ collection.title | link_to: url }}
        {% elsif collection.all_products_count > 0 and collection.products.first.type == collection.title %}
          {{ collection.title | link_to_type }}
        {% elsif collection.all_products_count > 0 and collection.products.first.vendor == collection.title %}
          {{ collection.title | link_to_vendor }}
        {% endif %}
      {% else %}
        <span class="separator">&#124;</span>
        {{ product.type | link_to_type }}
      {% endif %}

      <span class="separator">&#124;</span>
      <span class="page-title">{{ page_title }}</span>
    {% elsif template == "article" %}
      <span class="separator">&#124;</span>
      {{ blog.title | link_to: blog.url }}
      <span class="separator">&#124;</span>
      <span class="page-title">{{ page_title }}</span>
    {% elsif template == "list-collections" %}
      <span class="separator">&#124;</span>
      <span class="page-title">{{ 'collections.general.all_collections' | t }}</span>
    {% elsif template contains "collection" %}
      {% if current_tags.size > 0 %}
        <span class="separator">&#124;</span>
        {{ collection.title | link_to: collection.url }}
        <span class="separator">&#124;</span>
        <span class="page-title">{{ current_tags.first }}</span>
      {% else %}
        <span class="separator">&#124;</span>
        <span class="page-title">{{ collection.title }}</span>
      {% endif %}
    {% elsif template contains "search" %}
      <span class="separator">&#124;</span>
      {% if search.performed %}
        {% if search.results_count == 0 %}
          <span class="page-title">{{ 'sections.search.no_results_html' | t: terms: search.terms }}</span>
        {% else %}
          <span class="page-title">{{ 'sections.search.results_for_html' | t: terms: search.terms }}</span>
        {% endif %}
      {% endif %}
    {% else %}
      <span class="separator">&#124;</span>
      <span class="page-title">{{ page_title }}</span>
    {% endif %}
  </div>

  <div class="clear"></div>
</section><!-- /.row -->
{% schema %}
{
  "name": "Breadcrumbs",
  "settings": [],
  "presets": [
    {
      "name": "Breadcrumbs"
    }
  ],
  "disabled_on": {
    "templates": [
      "index"
    ],
    "groups":[
      "header",
      "footer",
      "aside"
    ]
  }
}
{% endschema %}
