{%- liquid

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

-%}

{%- capture section_classes -%}
  shopify-section page-contact-form {% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}
{%- endcapture -%}

<div class="global__section {{ section_padding }}">
  <section
  data-section-loaded="false"
  data-section-type="contact-form-section"
  class="{{ section_classes | strip }} row section-{{ section.id }}"
  data-section-id="{{ section.id }}">

  {% if section.settings.cf_heading != blank %}
    <h2 class="section-title">{{ section.settings.cf_heading }}</h2>
  {% endif %}


  <div id="contactFormWrapper" class="grid__wrapper contact__form--inner-wrapper">

    {% form 'contact', class: 'span-12 auto'%}
      {% if form.posted_successfully? %}
        <div class="successForm note-success feedback">
          <p>{{ 'sections.contact_form.post_success' | t }}</p>
        </div>
      {% endif %}

      {% if form.errors %}
        <div class="errorForm feedback">
          <p>{{ 'general.forms.post_error' | t }}</p>
        </div>
      {% endif %}

        <div class="contact__form--input">
          <label class="visually-hidden" for="contactFormFirstName--{{ section.id }}">{{ 'sections.contact_form.firstname' | t }}</label>
          <input type="text" id="contactFormFirstName--{{ section.id }}" name="contact[FirstName]" placeholder="{{ 'sections.contact_form.firstname' | t }}" />
        </div>

        <div class="contact__form--input">
          <label class="visually-hidden" for="contactFormLastName--{{ section.id }}">{{ 'sections.contact_form.lastname' | t }}</label>
          <input type="text" id="contactFormLastName--{{ section.id }}" name="contact[LastName]" placeholder="{{ 'sections.contact_form.lastname' | t }}" />
        </div>

        <div class="contact__form--input">
          <label class="visually-hidden" for="contactFormEmail--{{ section.id }}">{{ 'sections.contact_form.email' | t }}</label>
          <input type="email" id="contactFormEmail--{{ section.id }}" name="contact[email]" placeholder="{{ 'sections.contact_form.email' | t }}" />
        </div>

    {% if section.settings.cf_show_company_name %}
        <div class="contact__form--input">
          <label class="visually-hidden" for="contactFormCompanyName--{{ section.id }}">{{ 'sections.contact_form.companyname' | t }}</label>
          <input type="text" id="contactFormCompanyName--{{ section.id }}" name="contact[CompanyName]" placeholder="{{ 'sections.contact_form.companyname' | t }}" />
        </div>
    {% endif %}

    {% if section.settings.cf_show_website_url %}
        <div class="contact__form--input">
          <label class="visually-hidden" for="contactFormWebsiteURL--{{ section.id }}">{{ 'sections.contact_form.websiteurl' | t }}</label>
          <input type="text" id="contactFormWebsiteURL--{{ section.id }}" name="contact[WebsiteUrl]" placeholder="{{ 'sections.contact_form.websiteurl' | t }}" />
        </div>
    {% endif %}

    {% if section.settings.cf_show_phone %}
        <div class="contact__form--input">
          <label class="visually-hidden" for="contactFormTelephone--{{ section.id }}">{{ 'sections.contact_form.phone' | t }}</label>
          <input type="text" id="contactFormTelephone--{{ section.id }}" name="contact[phone]" placeholder="{{ 'sections.contact_form.phone' | t }}" />
        </div>
    {% endif %}

    {% for block in section.blocks %}
      <div class="contact__form--input">

      {%-liquid
         assign label = block.settings.label | escape
         -%}

      {% case block.type %}
        {% when 'text_input' %}
          <label class="visually-hidden" for="contactForm{{ label | handleize }}--{{ section.id }}--{{ block.id }}">{{ label }}</label>
          <input type="text" id="contactForm{{ label | handleize }}--{{ section.id }}--{{ block.id }}" name="contact[{{ label }}]" placeholder="{{ label }}" aria-label="{{ label }}" />
        {% when 'dropdown' %}
          {% assign values = block.settings.values  | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %}
          <label for="contactForm{{ label | handleize }}--{{ section.id }}--{{ block.id }}">{{ label }}</label>
          <select id="contactForm{{ label | handleize }}--{{ section.id }}--{{ block.id }}" name="contact[{{ label }}]">
            {% for value in values %}
              <option>{{ value }}</option>
            {% endfor %}
          </select>
      {% endcase %}
      </div>
    {% endfor %}

    <div class="contact__form--input">
      <label class="visually-hidden" for="contactFormMessage--{{ section.id }}">{{ 'sections.contact_form.message' | t }}</label>
      <textarea rows="15" cols="90" id="contactFormMessage--{{ section.id }}" name="contact[body]" placeholder="{{ 'sections.contact_form.message' | t }}"></textarea>
    </div>
    <div class="contact__form--input">
      <input type="submit" id="contactFormSubmit" class="secondary button" value="{{ 'sections.contact_form.send' | t }}" />
    <div class="contact__form--input">
    {% endform %}
  </div>

  <style>
    @media (min-width: 741px) {
      .section-{{ section.id }} .contact__form--inner-wrapper {
        width: {{ section.settings.width }}%;
        margin: 0 auto;
        padding: 0 auto;
      }
    }
  </style>


</section></div>

{% schema %}
{
  "name": "Contact form",
  "settings":
  [
    {
      "type": "text",
      "id": "cf_heading",
      "label": "Heading",
      "default": "Contact Us"
    },
    {
      "type": "range",
      "id": "width",
      "min": 50,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Width",
      "default": 60
    },
    {
      "type": "checkbox",
      "id": "cf_show_company_name",
      "label": "Show company name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "cf_show_website_url",
      "label": "Show website url",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "cf_show_phone",
      "label": "Show phone number",
      "default": true
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "blocks": [
    {
    "type": "text_input",
    "name": "Text input",
    "settings": [
      {
        "type": "text",
        "id": "label",
        "label": "Label",
        "default": "Custom field"
      }
    ]
  },
  {
  "type": "dropdown",
  "name": "Dropdown",
  "settings": [
      {
        "type": "text",
        "id": "label",
        "label": "Label",
        "default": "Custom field"
      },
      {
        "type": "text",
        "id": "values",
        "label": "Values",
        "default": "value 1, value 2, value 3",
        "info":"Separate each value with a comma"
      }
    ]
  }],
  "presets": [{
    "name": "Contact form"
  }],
  "disabled_on": {
    "groups":[
      "header",
      "footer",
      "aside"
    ]
  }
}
{% endschema %}
