{%- liquid

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

  assign sm_render = '100vw'
  assign md_render = 'calc(100vw / ' | append: section.blocks.size | append: ')'
  assign lg_render = 'calc(1600px / ' | append: section.blocks.size | append: ')'

  assign is_fixed_height = false
  if section.settings.image_height == 'fixed'
    assign is_fixed_height = true
    assign desktop_height = section.settings.desktop_height | append: 'px'
    assign mobile_height = section.settings.mobile_height | append: 'px'
  endif

  if section.index == 1
    assign loading = 'eager'
    assign fetch_priority = 'high'
  endif

-%}

{% style %}
  #shopify-section-{{ section.id }} {
    --desktop-section-height: {{ desktop_height }};
    --mobile-section-height: {{ mobile_height }};
  }
{% endstyle %}

<div class="global__section {{ section_padding }} editorial--columns">
  <section
    class="global__section-{{ section.id }} a-{{ section.settings.align_text }}{% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}"
    data-section-id="{{ section.id }}"
    data-section-loaded="false"
    data-section-type="editorial-columns">

    <div class="row grid__wrapper">
      {% if section.settings.title != blank %}
        <h2 class="section-title span-12 auto">
          {{ section.settings.title | escape }}
        </h2>

      {% endif %}
      {%- liquid

        case section.blocks.size
          when 1
            assign column_width = 'span-8 push-2'
          when 2
            assign column_width = 'span-6'
          when 3
            assign column_width = 'span-4'
        endcase

      -%}

      {% for block in section.blocks %}
        <div class="editorial__section-block {{ column_width }} auto sm-span-12 text-promo-{{ block.id }}{% if settings.animation != 'none' %} animate {{ settings.animation }} delay--{{ forloop.index }}{% endif %}" {{ block.shopify_attributes }}>

          {% if block.settings.image != blank %}
            <div class="editorial__block-image{% if is_fixed_height %} is--fixed{% endif %}">
              {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
                {% render 'basic-responsive-image',
                  type: block.settings.image,
                  width: 1000,
                  sm_render: sm_render,
                  md_render: md_render,
                  lg_render: lg_render,
                  loading: loading,
                  fetchpriority: fetch_priority
                %}
              {% if block.settings.link != blank %}</a>{% endif %}
            </div>
          {% endif %}

          <div class="editorial__content">
            {% if block.settings.title_text != blank %}
              <h3>{{ block.settings.title_text }}</h3>
            {% endif %}
            {% if block.settings.text != blank %}
              <div class="rte">
                {{ block.settings.text }}
              </div>
            {% endif %}
            {% if block.settings.button_text != blank and block.settings.link != blank %}
            <a class="button mt10" href="{{ block.settings.link }}">
              {{ block.settings.button_text }}
            </a>
            {% endif %}
          </div>

        </div>
      {% endfor %}
    </div>

    {% if section.blocks.size == 0 %}
      {% render 'no-blocks' %}
    {% endif %}

  </section>
  <div class="clear"></div>
</div>

{% schema %}
{
  "name": "Editorial columns",
  "max_blocks": 3,
  "settings":
  [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Editorial columns"
    },
    {
      "type": "radio",
      "id": "image_height",
      "label": "Image height",
      "default":"natural",
      "options": [
        {
          "value": "natural",
          "label": "Natural"
        },
        {
          "value": "fixed",
          "label": "Fixed height"
        }
      ]
    },
    {
      "type": "range",
      "id": "desktop_height",
      "min": 200,
      "max": 1000,
      "step": 50,
      "unit": "px",
      "label": "Desktop fixed height",
      "default": 450
    },
    {
      "type": "range",
      "id": "mobile_height",
      "min": 200,
      "max": 800,
      "step": 50,
      "unit": "px",
      "label": "Mobile fixed height",
      "default": 300
    },
    {
      "type": "text_alignment",
      "id": "align_text",
      "label": "Text alignment",
      "default": "left"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "blocks":
  [
    {
      "type": "text_block",
      "name": "Column",
      "settings":
      [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "title_text",
          "label": "Heading",
          "default": "Text column title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Pair an image with columns of text and a call to action button to add an editorial style content section</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button",
          "default": "Button"
        }
      ]
    }
  ],
  "presets":
  [
    {
      "name": "Editorial columns",
      "blocks":
      [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups":[
      "header",
      "footer",
      "aside"
    ]
  }
}
{% endschema %}
