{%- liquid

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'pt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'pt0 pb0'
  endif

  assign full_width = false
  if section.settings.full_width
    assign full_width = true
  endif

  assign has_image = false
  assign has_button = false
  assign has_heading = true
  assign has_subheading = false
  assign button_is_link = false
  assign image_is_link = false

  assign image  = section.settings.image
  assign heading = section.settings.heading | escape
  assign subheading = section.settings.subheading
  assign button_text = section.settings.button_text | escape
  assign link = section.settings.link

  if link != blank and button_text != blank
    assign has_button = true
    assign button_is_link = true
  endif

  if link != blank and button_text == blank
    assign image_is_link = true
  endif

  if section.settings.image != blank
    assign has_image = true
  endif

  if heading == blank and subheading == blank and button_text == blank
    assign hide_caption = true
  endif

  if heading != blank
    assign has_heading = true
  endif

  if subheading != blank
    assign has_subheading = true
  endif

  assign fixed_height = false

  if section.settings.slideshow_size == 'fixed_height'
    assign fixed_height = true
    assign desktop_height = section.settings.desktop_height
    assign mobile_height = section.settings.mobile_height
  endif

-%}

{% style %}
{% if fixed_height %}
#shopify-section-{{ section.id }} {
  --desktop-section-height: {{ desktop_height }}px;
  --mobile-section-height: {{ mobile_height }}px;
}
{% endif %}
.global__section-{{ section.id }} .iwt__content--wrapper,
.global__section-{{ section.id }} .iwt__image {
  background: var(--{{ section.settings.color_scheme }}-background);
}
{% unless section.settings.color_scheme == 'none' %}
  .global__section-{{ section.id }} .iwt__content--wrapper h2,
  .global__section-{{ section.id }} .iwt__content--wrapper .rte,
  .global__section-{{ section.id }} .iwt__content--wrapper .rte p,
  .global__section-{{ section.id }} .iwt__content--wrapper .rte a {
    color: var(--{{ section.settings.color_scheme }}-color) !important;
  }
{% endunless %}

{% endstyle %}

<section
  class="global__section {{ section_padding }} padding-top global__section-{{ section.id }} {% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}"
  data-section-id="{{ section.id }}"
  data-section-loaded="false"
  data-section-type="image-with-text">

    {% capture image_layout %}
      <div class="span-6 auto sm-span-12 iwt__image{% if fixed_height %} fixed--height{% endif %}{% if settings.animation != 'none' %} animate {{ settings.animation }} delay--1{% endif %}">
        {% if has_image == false %}
          <div class="onboard">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {% else %}
          {% if image_is_link %}<a href="{{ link }}">{% endif %}
          {% liquid
            if section.index == 1
              assign loading = 'eager'
              assign fetch_priority = 'high'
            endif
           %}
          {% render 'basic-responsive-image',
            type: section.settings.image,
            width: 1000,
            loading: loading,
            fetchpriority: fetch_priority
           %}
          {% if image_is_link %}</a>{% endif %}
        {% endif %}
      </div>
    {% endcapture %}

    {% if full_width %}<div class="gridlock-fluid"><div class="row">{% endif %}

    <div class="row">
      <div class="iwt__content--wrapper {{ section.id }} grid__wrapper{% if full_width %} ml0 mr0{% endif %}">
        {% if section.settings.layout == 'left' %}
          {{ image_layout }}
        {% endif %}
        <div class="span-6 auto sm-span-12 contained iwt__caption {% if section.settings.text_align == 'center' %} center{% elsif section.settings.text_align == 'right' %} a-right{% endif %}{% if section.settings.m_center %} m-center{% endif %}{% if settings.animation != 'none' %} animate {{ settings.animation }} delay--2{% endif %}">
          {% if has_heading %}
            <h2>{{ heading }}</h2>
          {% endif %}
          {% if has_subheading %}
            <div class="rte">{{ subheading }}</div>
          {% endif %}
          {% if button_is_link %}
            <a href="{{ link }}" class="button">
              {{ button_text }}
            </a>
          {% endif %}
        </div>
        {% if section.settings.layout == 'right' %}
          {{ image_layout }}
        {% endif %}
      </div>
    </div>

    {% if full_width %}</div></div>{% endif %}

</section>
{% schema %}
{
  "name": "Image with text",
  "settings":
  [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Enable full width",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "radio",
      "id": "slideshow_size",
      "label": "Section height",
      "options": [
        {
          "value": "natural",
          "label": "Natural"
        },
        {
          "value": "fixed_height",
          "label": "Fixed height"
        }
      ]
    },
    {
      "type": "range",
      "id": "desktop_height",
      "min": 200,
      "max": 1000,
      "step": 100,
      "unit": "px",
      "label": "Desktop fixed height",
      "default": 900
    },
    {
      "type": "range",
      "id": "mobile_height",
      "min": 200,
      "max": 1000,
      "step": 100,
      "unit": "px",
      "label": "Mobile fixed height",
      "default": 600
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Image with text"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Text",
      "default": "<p>Showcase a single image next to a fixed content area.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button",
      "default":"Button"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link",
      "default": "/"
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "left",
      "options":
      [
        {
          "value": "left",
          "label": "Image on left"
        },
        {
          "value": "right",
          "label": "Image on right"
        }
      ]
    },
    {
      "type": "text_alignment",
      "id": "text_align",
      "label": "Text alignment",
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "m_center",
      "label": "Center text on mobile",
      "default":true
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "cs1",
          "label": "1"
        },
        {
          "value": "cs2",
          "label": "2"
        },
        {
          "value": "cs3",
          "label": "3"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "presets":
  [
    {
      "name": "Image with text"
    }
  ],
  "disabled_on": {
    "groups":[
      "header",
      "footer",
      "aside"
    ]
  }
}
{% endschema %}
