{%- liquid

  assign basic_banner = false
  assign collection_image = false
  assign metafield_image = false
  assign no_image = false

  assign basic_banner_img = collection.handle | append: '.png'

  if images[basic_banner_img] != blank and collection.description contains '[banner]'
    assign basic_banner = true
    assign collection_image = false
  elsif collection.image != blank and section.settings.show_collection_image 
    assign collection_image = true
    assign basic_banner = false
  endif

  if section.settings.image != blank
    assign metafield_image = true
    assign basic_banner = false
    assign collection_image = false
  endif

  if metafield_image == false and collection_image == false and basic_banner == false
    assign no_image = true
  endif

  assign loading = 'lazy'
  assign fetch_priority = 'auto'

  if section.index == 1
    assign loading = 'eager'
    assign fetch_priority = 'high'
  endif

-%}

<section class="collection__section--banner collection__banner-{{ section.id }}{% if no_image == false %} has--banner__image{% endif %}"
data-section-id="{{ section.id }}">
  {%- if basic_banner or collection_image or metafield_image -%}
    <div class="collection__banner-image">
      {% if metafield_image %}
        {% render 'basic-responsive-image',
          type: section.settings.image
          width: 2000,
          loading: loading,
          fetchpriority: fetch_priority
        %}
      {%- elsif basic_banner -%}
        <div class="box-ratio">
         <img srcset="{{ basic_banner_img | file_img_url: '180x' }} 180w,
            {{ basic_banner_img | file_img_url: '360x' }} 360w,
            {{ basic_banner_img | file_img_url: '540x' }} 540w,
            {{ basic_banner_img | file_img_url: '720x' }} 720w,
            {{ basic_banner_img | file_img_url: '780x' }} 780w,
            {{ basic_banner_img | file_img_url: '900x' }} 900w,
            {{ basic_banner_img | file_img_url: '1080x' }} 1080w,
            {{ basic_banner_img | file_img_url: '1220x' }} 1220w,
            {{ basic_banner_img | file_img_url: '1520x' }} 1520w,
            {{ basic_banner_img | file_img_url: '1920x' }} 1920w"
            src="{{ basic_banner_img | file_img_url: '720x' }}"
            sizes="(min-width: 1601px) {{ lg_render }}, (min-width: 768px) and (max-width: 1600px) {{ md_render }}, (max-width: 767px) {{ sm_render }}, 900px"
            width="{{ basic_banner_img.width }}"
            height="{{ basic_banner_img.height }}"
            alt="{{ basic_banner_img.alt | escape }}"
            loading="{{ loading }}"
            fetchpriority="{{ fetch_priority }}">
         </div>
      {%- elsif collection.image != blank -%}
        {% render 'basic-responsive-image',
          type: collection.image,
          width: 2000,
          loading: loading,
          fetchpriority: fetch_priority
        %}
      {% endif %}
    </div>
  {%- endif -%}
  <div class="main--collection__title">
    <h1>{{ collection.title }}</h1>
  </div>
</section>


{% schema %}
{
  "name": "Collection header",
  "settings": [{
      "type": "paragraph",
      "content": "Show the collection image as a banner with text overlay, select a specific image which will be used for all collections or connect a dynamic source for a collection specific [metafield image](https:\/\/www.weareunderground.com\/blogs\/theme-support\/using-metafields-for-additional-product-content)."
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show collection image",
      "info": "The collection image will be used as the banner image."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image",
      "info": "2880px x 1200px recommended"
    }
  ]
}
{% endschema %}
