<div class="row">
  <section id="shopping-cart" class="cart-page ajax-cart__page-wrapper main__section cart-type--{{ settings.cart_type }}"
  data-section-id="{{ section.id }}" data-section-type="cart">
    <div class="loading-wrapper js-mini-cart-loader">
      <div class="loading-ripple"><div></div><div></div></div>
    </div>

    <div class="continue-shopping">
      {%- if section.settings.link != blank -%}
          {%- assign continue_link = section.settings.link -%}
        {%- else -%}
          {%- assign continue_link = routes.collections_url -%}
     {%- endif -%}
      <a class="ajax-cart__header__continue-link mb0" href="{{ continue_link }}">
          {% render 'snip-icons',
               wrapper: '.ajax-cart__header__continue-link',
               type: 'apollo',
               icon: 'left-carrot',
               classes: 'ajax-cart__header__continue-link--icon vib-center',
               size: '12px',
               fill: 'var(--text-color)',
               hover: 'var(--text-color)' %}
          <span class="ajax-cart__header__continue-link-text vib-center">{{ 'products.product.continue' | t }}</span>
      </a>
    </div>

    <div class="ajax-cart__form-wrapper--nojs js-ajax-cart-content-nojs">
      {% include 'cart-no-js' %}
    </div>
    <div class="ajax-cart__form-wrapper cart-wrapper js-ajax-cart-content">
    </div>

    {% if section.settings.show_sticky_checkout %}
      <div id="sticky-cart" class="js-sticky-cart sticky-cart">
        <form class="sticky-cart__form"
          action="{{ routes.cart_url }}"
          method="post">
          <div class="cart-total">
            <h3 class="title">{{ 'cart.general.total' | t }} <span class="cart-original-total js-cart-total">{{ cart.total_price | money }}</span> <span class="cart-total"></span></h3>
          </div>
          <div class="cart-details">
            {% if section.settings.sticky_fine_print != blank %}<p>{{ section.settings.sticky_fine_print | escape }}</p>{% endif %}
          </div>
          <div class="cart-checkout">
            <input type="submit" name="checkout" id="checkout" value="{{ 'cart.general.checkout' | t }}" class="button js-sticky-checkout-btn" />
          </div>
        </form><!-- /.stick-cart__form -->
      </div><!-- /.js-sticky-cart -->
    {% endif %}

  </section><!-- /#shopping-cart -->
</div><!-- /.row -->
{% schema %}
{
  "name": "Cart page",
  "settings":
  [
    {
      "type": "url",
      "id": "link",
      "label": "Continue shopping link"
    },
    {
      "type": "checkbox",
      "id": "show_sticky_checkout",
      "label": "Show sticky checkout",
      "default": true
    },
    {
      "type": "text",
      "id": "sticky_fine_print",
      "label": "Sticky checkout note or fine print",
      "default": "Add some fine print about checking out or more payment methods here."
    }
  ]
}
{% endschema %}
