{%- liquid
  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif
-%}

<div class="global__section {{ section_padding }}">
  <section
    class="global__section-{{ section.id }} featured-content{% if settings.animation != 'none' %} animate {{ settings.animation }}{% endif %}"
    data-section-id="{{ section.id }}"
    data-section-loaded="false"
    data-section-type="featured-content"
  >
    <div class="row grid__wrapper">
      {% if section.settings.heading != blank %}
        <h2 class="section-title span-12">{{ section.settings.heading }}</h2>
      {% endif %}
      {% if section.settings.page != blank or section.settings.rich_text != blank %}
        <div class="rich__text-content span-12 auto">
          {% if section.settings.page != blank %}
            {{ section.settings.page.content }}
          {% else %}
            <div class="rte">
              {{ section.settings.rich_text }}
            </div>
          {% endif %}
        </div>
        <!-- /.rich__text-content.span-12.auto -->
      {% endif %}
    </div>
    <!-- /.row.grid__wrapper -->
  </section>
  <div class="clear"></div>
</div>

{% schema %}
{
  "name": "Rich text",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Welcome"
    },
    {
      "type": "richtext",
      "id": "rich_text",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "page",
      "id": "page",
      "label": "Or Show content from a page"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "presets": [
    {
      "name": "Rich text"
    }
  ],
  "disabled_on": {
    "groups":[
      "header",
      "aside"
    ]
  }
}
{% endschema %}
