{% layout none %}
{%- liquid
  assign drawer = false
  assign modal = false
  assign page_only = false
  assign mini_cart = false
  assign no_js_cart = false

  if settings.cart_type == 'drawer'
    assign drawer = true
  elsif settings.cart_type == 'modal_cart'
    assign modal = true
  elsif settings.cart_type == 'mini_cart'
    assign mini_cart = true
  elsif settings.cart_type == 'page_only'
    assign page_only = true
  else
    assign no_js_cart = false
  endif

  if cart.item_count < 1
    assign isEmpty = ''
    assign formEmpty = 'hide'
  else
    assign isEmpty = 'hide'
    assign formEmpty = ''
  endif

-%}
<template data-options>
  {
    "item_count": {{ cart.item_count }}
  }
</template>
<template data-html="content">
  <div class="ajax-cart__header-wrapper grid__wrapper edge">
    <div id="cart-title" class="span-6 sm-hide auto v-center">
      <h4 class="cart-title a-left h3">{{ 'cart.general.title' | t }} <span id="js-cart-subtotal" class="js-cart-subtotal">{{ cart.items_subtotal_price | money }}</span></h4>
    </div>
    <div id="cart-count" class="span-6 sm-span-12 auto a-right v-center">
      <h4 class="modal-cart-count a-right"><strong>{{ 'cart.general.items_cart_html' | t: cart_count: cart.item_count }}</strong> <span class="modal-cart-title">{{ 'cart.general.in_shopping_cart' | t }}</span></h4>
    </div>
  </div>
  <p class="ajax-cart__empty-cart a-center js-cart-empty {{ isEmpty }}">{{ 'cart.general.empty' | t }}</p>
  {% render 'cart-form',
    drawer: drawer,
    modal: modal,
    page_only: page_only,
    mini_cart: mini_cart,
    no_js_cart: no_js_cart,
    formEmpty: formEmpty %}
</template>
